%h2 Company #{@company.name} #{"(Locked)" if @company.access_locked?}
= form_for [:admin, @company], html: {class: 'form-inline'} do |f|
  .form-group
    Company Name:
    = f.text_field :name, class: 'form-control'
  = f.submit :submit, class: 'btn btn-danger', value: 'Submit'

%br
- if @subscription && @subscription.exists_on_chargify?
  %ul
    %li Subscription: #{@company.subscription_plan}
    - if !@company.regions.blank?
      %li Regions: #{@company.regions.join(", ")}
  = link_to "Edit this subscription", edit_admin_gateway_subscription_path(@subscription), class: "btn" if @company.created_from_subscription_id

  - if @subscription.chargify_subscription.state == 'canceled'
    = link_to "Reactivate this subscription", reactivate_subscription_admin_company_path(@company), class: "btn btn-success", method: "put", confirm: "Are you sure to reactivate this subscription?"
  - else
    = link_to "Cancel this subscription", cancel_subscription_admin_company_path(@company), class: "btn btn-danger", method: "put", confirm: "Are you sure to cancel this subscription?"

  - unless @company.access_locked?
    = link_to "Cancel and lock this account", lock_account_admin_company_path(@company), class: "btn btn-danger", method: "put", confirm: "Are you sure to lock this account?"
  - else
    = link_to "Unlock this account", unlock_account_admin_company_path(@company), class: "btn btn-success", method: "put", confirm: "Are you sure to unlock this account"

  - if @subscription.chargify_subscription.state == 'canceled'
    %p.alert.alert-danger
      = link_to @subscription.subscription_payment_profiles_url, @subscription.subscription_payment_profiles_url

  %p.help-block
    Edit on chargify:
    = link_to @subscription.subscription_url, @subscription.subscription_url

  %p.text-danger
    %strong Notice:
    Please make sure that you deleted payment detail of this company on chargify before doing reactivate or cancel the subscription.
    = link_to @subscription.subscription_payment_profiles_url, @subscription.subscription_payment_profiles_url

- else
  = form_tag connect_subscription_admin_company_path(@company), method: "put", class: "form-inline" do
    .form-group
      Chargify ID: 
      = text_field_tag :subscription_id, params[:subscription_id], class: 'form-control'
    = submit_tag "Connect", class: "btn btn-primary"

%h4 TPA number
= form_for @company, url: admin_company_path(@company), html: { class: "form-inline edit_gateway_subscription" } do |f|
  .form-group
    = f.text_field :tpa, class: 'form-control'
  = f.submit "Submit", class: "btn btn-primary"


%h4 Email
= form_tag change_emails_admin_company_path(@company), method: "put", class: "form-inline" do
  = text_field_tag "email", @company.email, class: 'form-control'
  = submit_tag "Submit", class: "btn btn-primary"
%p.help-block
  %strong Notice:
  This email will be applied to company, subscription and user.


%h4 Mode
= form_tag change_mode_admin_company_path(@company), method: "put", class: "form-inline" do
  = select_tag "mode", options_for_select(Company::MODES, @company.mode), class: 'form-control'
  = submit_tag "Submit", class: "btn btn-primary"
%p.help-block
  %strong Notice:
  Ghost user can only browse site - can not bid and can not post new opportunity. 

%h4 Offerer
= form_tag change_offerer_admin_company_path(@company), method: "put", class: "form-inline" do
  .form-group
    %label
      = check_box_tag "offerer", true, @company.offerer
      choose a vendor?
    = submit_tag :Submit, class: 'btn btn-primary'
  %p.help-block
    %strong Notice:
    Subout offerer can use "choose a vendor" functionality on the Opportunity detail page.

%h4 Reset password
- @company.users.each do |user|
  = form_for user, url: change_password_admin_company_path(@company, user_id: user.id), html: { method: "put", class: "form-vertical" } do |f|
    %legend=user.email
    .form-group
      = f.label :password, "New password"
      = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation, "Password confirmation"
      = f.password_field :password_confirmation, class: 'form-control'
    = f.submit "Submit", class: "btn btn-primary"
%hr

%h3 Vehicles
- if @company.subscription_plan == 'subout-pro-service'
  .span8
    %table.table.table-striped
      %tr
        %td Year
        %td Make
        %td Model
        %td Vin
        %td RM number
        %td 
      - if @company.vehicles.any?
        - @company.vehicles.each do |bus|
          %tr
            %td= bus.year
            %td= bus.make
            %td= bus.model
            %td= bus.vin
            %td= bus.rm_number
            %td= link_to "Edit", edit_admin_company_vehicle_path(@company, bus), class: 'btn'
      - else
        %tr
          %td{colspan: 6} This company has any vehicles yet.
- else
  %p This company can't have vehicles.


%h4 Companies favorited #{@company.name}
%ul
  - @company.favoriting_buyers.each do |company|
    %li= company.name
= form_tag add_as_a_favorite_admin_company_path(@company), method: "put", class: "form-inline" do
  .form-group
    = select_tag "company_id", options_from_collection_for_select(Company.not_in(_id: @company.favoriting_buyer_ids), "id", "name"), class: 'form-control'
  = submit_tag "Add", class: "btn btn-primary"

%hr
.clearfix
  = link_to "Back", admin_companies_path(anchor: "company-#{@company.id}"), class: 'btn'
  = link_to "DELETE THIS COMPANY", admin_company_path(@company), class: 'btn btn-danger', method: :delete, data:{ confirm: "Are you sure to delete this company?" }

%br
