%h2 Companies
.clearfix
  .pull-left
    %form.form-inline{url: admin_companies_path, method: :get}
      .form-group
        %input.form-control{type: 'text', name: 'search', placeholder: 'Please type search keyword'}
      %input.btn.btn-primary{type: 'submit', value: 'Search'}
  .pull-right
    = link_to "Create Free Company", "https://#{CHARGIFY_URI}/h/#{CHARGIFY_FREE_PRODUCT_ID}/subscriptions/new", target: "_blank", class: "btn btn-primary"
    &nbsp;
    = link_to "Download CSV", admin_companies_path(format: "csv", sort_by: @sort_by, sort_direction: @sort_direction), target: "_blank"
.clearfix
  .pull-left
    .pagination
      = link_to "All Companies", admin_companies_path
      = link_to "Bad Email", admin_companies_path(bad_email: true)
  .pull-right
    = paginate @companies
%h5 Filtered by "#{params[:search]}"
%table#admin-companies.table.table-striped
  %thead
    %tr
      %th #
      %th ID
      %th Company Name<br>Owner
      %th Email<br>Contact
      %th Mode
      %th Notification Email
      %th
        - if @sort_by != "created_at"
          = link_to "Sign up", admin_companies_path(sort_by: "created_at", sort_direction: "desc")
        - elsif @sort_direction == "asc"
          = link_to "Sign up ^", admin_companies_path(sort_by: "created_at", sort_direction: "desc")
        - else
          = link_to "Sign up v", admin_companies_path(sort_by: "created_at", sort_direction: "asc")
      %th
        Last signed in
      %th Subscription
      %th Vehicle Count
      %th
        - if @sort_by != "auctions_count"
          = link_to "# Ops", admin_companies_path(sort_by: "auctions_count", sort_direction: "desc")
        - elsif @sort_direction == "asc"
          = link_to "# Ops ^", admin_companies_path(sort_by: "auctions_count", sort_direction: "desc")
        - else
          = link_to "# Ops v", admin_companies_path(sort_by: "auctions_count", sort_direction: "asc")
      %th # Expired Ops
      %th
        - if @sort_by != "bids_count"
          = link_to "# Bids", admin_companies_path(sort_by: "bids_count", sort_direction: "desc")
        - elsif @sort_direction == "asc"
          = link_to "# Bids ^", admin_companies_path(sort_by: "bids_count", sort_direction: "desc")
        - else
          = link_to "# Bids v", admin_companies_path(sort_by: "bids_count", sort_direction: "asc")
      %th Total Award Count
      %th Total Award Amount
      %th
        - if @sort_by != "recent_winnings"
          = link_to "Recent 90 Days' Awarded Amount", admin_companies_path(sort_by: "recent_winnings", sort_direction: "desc")
        - elsif @sort_direction == "asc"
          = link_to "Recent 90 Days' Awarded Amount ^", admin_companies_path(sort_by: "recent_winnings", sort_direction: "desc")
        - else
          = link_to "Recent 90 Days' Awarded Amount v", admin_companies_path(sort_by: "recent_winnings", sort_direction: "asc")
      %th Terms And Conditions
      %th Actions
  %tbody
    - @companies.each_with_index do |company, index|
      %tr{id: "company-#{company.id}"}
        %td= index + 1
        %td= company.id
        %td
          = company.name
          %br
          = company.owner
        %td
          = company.email
          %br
          #{company.contact_name}
          %br
          = "(#{company.contact_phone})" if company.contact_phone
        %td
          %span.label{class: "#{company.mode == 'normal' ? 'label-info' : 'label-danger'}"}
            = company.mode
        %td
          %span.label{class: "#{company.bad_email? ? 'label-danger' : 'label-info'}"}
            = company.notifiable_email
        %td= time_ago_in_words(company.created_at) + " ago" if company.created_at
        %td= time_ago_in_words(company.last_sign_in_at) + " ago" if company.last_sign_in_at
        %td= company.subscription_plan
        %td= company.vehicles.count
        %td= company.auctions_count
        %td= company.auctions_expired_count
        %td= company.bids_count
        %td= company.total_won_bids_count
        %td= number_to_currency(company.total_winnings)
        %td
          %span{class: "#{'alert-danger' if company.recent_won_bid_amount< 2000 }"}
            = number_to_currency(company.recent_winnings)
        %td
          - if company.tac_agreement
            %span.label.label-info Accepted
            %br
            -if company.tac_agreement_at
              %label Accepted at:
              = company.tac_agreement_at
          - else
            %span.label.label-warning Not Accepted
            %br
          %label Created at:
          = company.created_at
        %td
          = link_to "Become user", "/#/dashboard", class: "btn btn-info become-user", data: { auth_token: company.auth_token_hash.to_json } unless company.access_locked?
          %br
          = link_to "Subout auctions", auctions_admin_company_path(company), class: "btn btn-info" 
          %br
          %br
          = link_to "Edit", edit_admin_company_path(company), class: "btn btn-warning"
.clearfix
  .pull-right
    = paginate @companies
    %br
