!!!
%html
  %head
    %title Subout
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "consumer", :media => "all"
    = stylesheet_link_tag    "retailer", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-inverse
      .navbar-inner
        .container-fluid
          .navbar-header
            = link_to "Subout", "#", class: "navbar-brand"
          %ul.nav.navbar-nav.navbar-right
            - if retailer_signed_in?
              %li
                = link_to 'Logout', destroy_retailer_session_path
    .container
      - if flash[:error]
        %p.alert.alert-error
          = h flash[:error]
          %a.close(href="#") x
      - if flash[:notice]
        %p.alert.alert-info
          = h flash[:notice]
          %a.close(href="#") x

      = yield
      = javascript_include_tag "pickadate"
